---
- name: Check if swap exists
  command: swapon --show
  register: swap_exists
  changed_when: false
  ignore_errors: yes

- name: Create swap file (2GB)
  command: |
    sudo fallocate -l 2G /swapfile &&
    sudo chmod 600 /swapfile &&
    sudo mkswap /swapfile &&
    sudo swapon /swapfile
  when: swap_exists.rc != 0
  args:
    creates: /swapfile

- name: Make swap permanent
  lineinfile:
    path: /etc/fstab
    line: '/swapfile none swap sw 0 0'
    state: present
  when: swap_exists.rc != 0

- name: Set swappiness
  sysctl:
    name: vm.swappiness
    value: "10"
    state: present
    reload: yes